<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    <p>Name: <%= puts @recipe.name %></p>
    <p>Ingredients: <%= puts @recipe.ingredients %></p>
    <p>Cook Time: <%= puts @recipe.cook_time %></p>
  </body>
</html>
